.store-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.store-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.store-image-wrapper {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f9fa;
  border-bottom: 1px solid #eee;
} 
  
  
.store-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  padding: 10px;
}

.store-desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.home-featured .store-image-wrapper {
  height:200px;  
  width:200px;
}

.home-featured .store-image {
  object-fit: contain;  /* better for logos */
  padding: 20px;
}
.home-featured .col-md-4 {
  flex: unset !important;
  max-width: unset !important;
  width: 100%;
}
.home-featured .store-card {
  align-items: center;
}

.home-featured .btn{
  width:100%;
}

.outer-div{
  background-color: rgb(140, 144, 243);
}